@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* Cor do fundo */
}

#backgroundCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.elemento {
    background-color: transparent;
    padding: 10px; /* Espaço invisível dentro do elemento */
}
.wrapper {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    max-width: 1100px;
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }
    .login-container, .progress-menu {
        width: 90%;
    }
}

.progress-menu, .login-container {
    background: #ffffff;
    color: #CC0733;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.progress-menu {
    width: 200px;
    min-width: 200px;
    flex-shrink: 0;
}

.progress-menu h2 {
    margin-bottom: 20px;
}

.progress-menu ul {
    list-style: none;
    padding: 0;
}

.progress-menu li {
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.progress-menu li i {
    margin-right: 10px;
    color: #CC0733; /* Cor do ícone */
}

.progress-menu li.active {
    font-weight: bold; /* Negrito para itens ativos */
    color: #CC0733; /* Cor das letras dos itens ativos */
}

.progress-menu li:hover {
    text-decoration: underline;
}

.login-container {
    width: 680px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .logo {
    width: 70px;
    height: auto;
    margin-bottom: 15px;
}

.header .title {
    font-size: 36px;
}

.header .subtitle {
    font-size: 18px;
}

form .input-container {
    width: 100%;
    margin-bottom: 20px;
    text-align: left; /* Alinha os rótulos à esquerda */
}

form .input-container label {
    display: block;
    margin-bottom: 5px; /* Espaçamento entre o rótulo e o campo de entrada */
    font-weight: bold;
    color: white; /* Cor do texto do rótulo */
}

form .input-container input {
    width: 100%;
    padding: 10px;
    border: 2px solid #CC0733; /* Borda ao redor do input */
    border-radius: 10px; /* Cantos arredondados */
    font-size: 16px;
    color: #CC0733; /* Certifica-se de que o texto do input seja visível */
    background-color: white; /* Garante que o fundo do input seja branco */
}

form .buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

form .buttons a, form .buttons button {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    background-color: white;
    color: #CC0733; /* Cor do texto */
    border: 2px solid #ffffff; /* Borda vermelha */
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 200px;
}

form .buttons a i, form .buttons button i {
    margin-right: 10px; /* Espaço entre o ícone e o texto */
    color: #CC0733; /* Cor do ícone */
}

form .buttons a:hover, form .buttons button:hover {
    background-color: #e0e0e0;
}
