@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#backgroundCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

#cpf,
#nome-mae,
#genero,
#data-nascimento,
#email {
    border: 2px solid #CC0733; 
    border-radius: 10px;
}

.elemento {
    background-color: transparent;
    padding: 10px; /* Espaço invisível dentro do elemento */
}

.wrapper {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    max-width: 1100px;
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }
    .login-container, .progress-menu {
        width: 90%;
    }
}

.progress-menu, .login-container {
    background: #ffffff;
    color: #CC0733;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.progress-menu {
    width: 200px;
    min-width: 200px;
    flex-shrink: 0;
}

.progress-menu h2 {
    margin-bottom: 20px;
}

.progress-menu ul {
    list-style: none;
    padding: 0;
}

.progress-menu li {
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.progress-menu li i {
    margin-right: 10px;
    color: #CC0733; /* Cor do ícone */
}

.progress-menu li.active {
    font-weight: bold; /* Negrito para itens ativos */
    color: #CC0733; /* Cor das letras dos itens ativos */
}

.progress-menu li:hover {
    text-decoration: underline;
}

.login-container {
    width: 680px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .logo {
    width: 70px;
    height: auto;
    margin-bottom: 15px;
}

.header .title {
    font-size: 36px;
}

.header .subtitle {
    font-size: 18px;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px; /* Aumenta a largura dos inputs para alinhar com o formulário */
    border: 1px solid #CC0733;
    border-radius: 5px; /* Cantos arredondados */
    padding: 12px; /* Aumenta o padding interno para mais espaço */
    background-color: #CC0733;
    justify-content: space-between;
}

.input-container i {
    color: #CC0733;
    margin-right: 10px;
}

.login-container input,
.login-container select {
    width: 100%;
    border: #CC0733;
    outline: #CC0733;
    font-size: 18px; /* Aumenta o tamanho do texto nos inputs */
    padding: 10px 0; /* Adiciona padding para aumentar a área de escrita */
    color: #CC0733;
    border-radius: 5px; /* Cantos arredondados para os selects */
}

.buttons {
    display: flex;
    border: #CC0733;
    gap: 10px;
    justify-content: center;
    width: 100%;
    margin-top: 20px; /* Adiciona espaço extra acima dos botões */
}

.buttons button:hover {
    background-color: #e0e0e0;
}

.buttons .btn {
    background-color: white;
    color: #CC0733; /* Cor do fundo nas letras */
    padding: 15px 30px; /* Aumenta o tamanho dos botões */
    border: none;
    border-radius: 5px; /* Cantos arredondados */
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
}

.buttons .btn i {
    margin-right: 10px; /* Espaço entre o ícone e o texto */
    color: #CC0733; /* Cor do fundo nas letras */
}
