@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: transparent;
}

.elemento {
    background-color:transparent;
    padding: 1%;
}

.elemento1 {
    background-color:transparent;
    padding: 3%;
}

.elemento2 {    
    background-color:transparent;
    padding: 8%;
}

.carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin: auto;
    height: 70vh;
    z-index: 1; /* Garante que o carrossel fique abaixo do menu */
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.fade {
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from { opacity: 0.5; }
    to { opacity: 1; }
}

/* Ajuste para o texto LeafwithF e QUEM SOU */
.sobreposição {
    position: relative;
    text-align: center;
    margin-top: 50px; /* Garante que o texto não fique muito próximo do carrossel */
}

.text-before {
    font-size: 6vw;
    font-weight: 1000;
    color: #674F99;
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 1;
    margin-right: 10%;
}

.text-after {
    font-size: 4vw;
    font-weight: 300;
    color: #000000;
    position: relative;
    transform: translateY(130%);
    right: 33%;
    z-index: 1;
}

.container {
    display: flex;
    justify-content: center;  
    align-items: center;  
    flex-direction: column 2;
    height: 35vh;       
    margin-top: 10%;
    color: #674F99; /*Cor das palavras no textoPequeno*/ 
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2% 10%;
    background-color: #674F99;
    /*Mudar a cor do Header*/
}

.user-icon .fa-user-circle {
    font-size: 4rem;
    color: #f5f5f5;
    margin-right: 20%;
    vertical-align: middle;
}

.logo { 
    display: flex;
    align-items: center;
    margin-right: 30%;
    margin-left: 10%;
}

.logo img {
    width:37%;
    height: auto;
    margin-right: 1%;
}

.logo-name {
    color: white;
    font-size: 3.5em;
    font-weight: 900;
}
@media (max-width: 768px) {
    .logo img {
        width: auto; /* Deixe a largura automática para que a proporção da imagem seja mantida */
        height: 3.5em; /* Ajusta a altura para combinar com o tamanho do texto */
    }

    .logo-name {
        font-size: 3.5em; /* Mantém o tamanho do texto */
    }
}


.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 45px;
    padding: 0;
    margin: 0;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
}

.menu ul li a:hover {
    color: #B3A6CC;
}

/* Ajustes do menu hambúrguer para tela cheia no mobile */
@media (max-width: 768px) {
    .menu ul {
        display: flex; /* Exibe o menu, mas inicialmente ele está fora da tela */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh; /* Menu ocupa toda a altura da tela */
        background-color: rgba(0, 0, 0, 0.8); /* Fundo semitransparente */
        padding: 50px 0; /* Ajuste de espaçamento para o menu */
        text-align: center; /* Centraliza as opções do menu */
        flex-direction: column;
        justify-content: center; /* Centraliza as opções verticalmente */
        gap: 20px;
        z-index: 1000; /* Garante que o menu fique acima de outros conteúdos */
        transform: translateY(-100%); /* Inicialmente posicionado fora da tela (acima) */
        transition: transform 0.5s ease; /* Transição suave quando o menu aparecer */
    }

    .menu ul.active {
        transform: translateY(0); /* Quando a classe "active" é adicionada, o menu aparece */
    }

    .menu-toggle {
        display: flex; /* Exibe o ícone de hambúrguer */
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        z-index: 1001; /* Garante que o ícone de hambúrguer fique acima de tudo */
    }

    .menu-toggle span {
        width: 30px;
        height: 3px;
        background-color: white;
        border-radius: 3px;
    }

    .menu ul li a {
        color: white;
        font-size: 2rem; /* Tamanho maior para o mobile */
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 20px 0;
    }

    .menu ul li a:hover {
        color: #B3A6CC; /* Cor de destaque ao passar o mouse */
    }
    .logo, .logo-name,.user-icon, .menu-toggle{
        margin-right: 10%;
        margin-left: 0%;
        position: center;
    }
 
}

/* Estilizando o ícone de hambúrguer */
.menu-toggle span {
    background-color: #fff;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    border-radius: 3px;
}
.centralize-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2% auto;
}
.black-text{
    color: #000000;
    font-size: large;
}
.text-box {
    margin-bottom: 1%;
}

.littleTextLeft, .littleTextRight {
    text-align: justify;
    width: 70%; 
    margin-top: 10%; /* Espaçamento praticamente zero */
    margin-left: 0; /* Garantir alinhamento na centralização */
    margin-right: 0;
    line-height: 1.6; /* Melhorar a legibilidade do texto */
}
/* Ajustes de responsividade */
@media (max-width: 768px) {
    .littleTextLeft, .littleTextRight {
        width: 90%; /* Aumenta a largura para ocupar mais espaço na tela */
        margin-top: 0; /* Ajusta o espaçamento superior para evitar sobreposição */
        text-align: center; /* Centraliza o texto */
        line-height: 1.6; /* Melhora a legibilidade do texto */
    }

    .container {
        margin: 0 auto;
        margin-top: -35%; /* Ajusta o espaçamento superior para ficar mais próximo do topo */
        display: flex;
        flex-direction: column;
        align-items: center; /* Alinha o conteúdo ao centro */
        justify-content: flex-start; /* Garante que os conteúdos fiquem alinhados no topo */
    }

    .title-box1, .title-box2 {
        width: 100%; /* Garantir que o box ocupe a largura total */
        text-align: center; /* Alinha o texto no centro */
        margin-top: 0; /* Ajusta o espaçamento superior para não sobrepor */
        margin-bottom: 2%; /* Dá um pequeno espaçamento na parte inferior */
    }

    .title-box1 {
        margin-top: 5%; /* Ajuste o espaçamento superior para o primeiro título */
    }

    .title-box2 {
        margin-top: 5%; /* Ajuste o espaçamento superior para o segundo título */
    }
}

.title-box{
    display: flex;
    margin-top: 40%;
}
.text-box-fine {
    margin-bottom: 2%;
}

.finePrints {
    position: relative;
    max-width: 80%;
    align-items: center;
    height: 80vh; /* Tamanho para telas grandes */
}
.container-fine {
    display: fixed;
    justify-content: center;  
    align-items: center;  
    height: 35vh;   
    margin-top: -40%;    
    color: #674F99; /*Cor das palavras no textoPequeno*/ 
}
.centralize-text-fine {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2% auto;
}

/* Estilo para o carrossel do Fine Arts */
.finePrints-slide {
    width: 150vh; 
    height: 80vh; 
    overflow: hidden; 
    border-radius: 2vh; 
}

.finePrints-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.footer-container {
    width: 100%;
    padding: 20px 0;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between; /* Espaça as seções de forma que uma fique à esquerda e outra à direita */
    align-items: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;     /* Centraliza o logo no meio */
    flex-basis: 100%;             /* Garante que o logo ocupe toda a largura disponível */
    margin: 0 auto;               /* Garante que o logo fique centralizado */
}

.footer-logo img {
    width: auto;
    height: 10.5em;
    margin: 0;                    /* Remove margens desnecessárias */
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;     /* Alinha à esquerda */
    flex: 1 1 250px;             /* Garante que ocupe o espaço necessário à esquerda */
}

.footer-left .footer-section {
    margin-bottom: 20px;         /* Espaço entre o contato e outras seções */
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: flex-start;  /* Alinha os itens à esquerda */
    flex: 1;                      /* Garante que o social ocupe todo o espaço à esquerda */
    margin-right: 20px;           /* Espaço entre o social e os outros elementos */
}

.footer-links {
    flex: 1 1 250px;
    column-count: 2;              /* Define 2 colunas */
    column-gap: 10px;             /* Espaçamento entre as colunas */
    margin-top: -7%;
    min-width: 100px;
    box-sizing: border-box;
    text-align: center; 
    font-size: 20px;           /* Alinha os links à direita */
}

.footer-links ul {
    list-style: none;             /* Remove os marcadores da lista */
    padding: 0;                   /* Remove o espaçamento interno da lista */
    margin: 0;                    /* Remove as margens da lista */
}

.footer-links a {
    color: white;                /* Define a cor dos links como branca */
    text-decoration: none;       /* Remove o underline por padrão */
}

.footer-links a:hover {
    text-decoration: underline;  /* Adiciona o underline ao passar o mouse */
}

.footer-text {
    margin-top: -22vh;
    transform: translateX(31vh); /* Ajuste o valor conforme necessário */
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: flex-start;  /* Alinha os itens à esquerda */
    flex: 1;       
    margin-top: -20vh;
    width: 50%;
    height: 50%;               /* Garante que o social ocupe todo o espaço à esquerda */
    margin-left: 20%;           /* Espaço entre o social e os outros elementos */
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;     /* Centraliza o logo no meio */
    flex-basis: 100%;             /* Garante que o logo ocupe toda a largura disponível */
    margin: 0 auto; 
    margin-top: 4%;              /* Garante que o logo fique centralizado */
}

.footer-logo img {
    width: auto;
    height: 10.5em;
    margin: 0;                    /* Remove margens desnecessárias */
}

/* Adiciona a estrutura para alinhar o contato e social à esquerda */
.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex; /* Alinha à esquerda */
    flex: 1 1 250px; /* Garante que ocupe o espaço necessário à esquerda */
}

.footer-left .footer-social {
    margin-bottom: 20px; /* Espaço entre as seções de social e contato */
}





@media (max-width: 768px) {
    .footer-logo img {
        margin-left: 3%;
        width: auto; /* Deixe a largura automática para que a proporção da imagem seja mantida */
        height: 6.5em; /* Ajusta a altura para combinar com o tamanho do texto */
    }

}
.footer-links {
    columns: 2;               /* Cria duas colunas */
    column-gap: 25px;   
    margin-top: 10%;       /* Espaço entre as colunas */
    margin-left: 2%;
    text-align: center;       /* Centraliza o texto dentro das colunas */
}

    .footer-text {
    display: flex;
    align-items: center;         /* Alinha verticalmente no centro */
    justify-content: center;     /* Alinha horizontalmente no centro */
    text-align: center;   
    margin-left: -10vh; 
    margin-top: 5vh;      /* Garante que o texto também fique centralizado */
}

.footer-social img {
    margin-left: 5vh;
    margin-top: 20vh;
    width: 70%;
    height: auto;
}

@media (max-width: 768px) {
    .finePrints {
        width: 90%; /* Ajusta a largura da imagem para um retângulo menor */
        height: auto;
        margin: 0 auto; /* Centraliza a imagem horizontalmente */
        display: flex; /* Garante que o contêiner seja flexível */
        justify-content: center; /* Centraliza o conteúdo dentro do contêiner */
        overflow: hidden;
        align-items: center; /* Alinha o conteúdo no centro verticalmente */
    }
    .container-fine{
        margin: 0 auto;
        margin-top: 40%;
    }
    .centralize-text-fine {
        display: flex;
        flex-direction: column; /* Inverte a ordem dos textos, colocando os títulos acima */
        align-items: center;
        text-align: center;
        margin: 2% auto;
    }

    .centralize-text-fine h1 {
    
        font-size: 2rem; /* Ajuste de tamanho para os títulos */
        margin-bottom: 10%; /* Espaçamento abaixo do título */
    }
    .finePrints-slide img {
        width: 100%; /* Mantém a largura 100% do contêiner */
        height: 50vh; /* Define uma altura fixa para criar o formato retangular */
        object-fit: cover; /* Garante que a imagem preencha o espaço sem distorção */
        border-radius: 2vh; /* Arredonda apenas a parte superior */
    }
}

@media (max-width: 768px) {
    .text-before {
        transform: translateY(-360%);
        font-size: 18vw; /* Ajuste maior para o mobile */
    }
    .text-after {
        font-size: 12vw; /* Ajuste maior para o mobile */
        font-weight: 300;
        transform: translateY(-390%) translateX(13%); /* Combinação de ambas as transformações */
    }
    
    .sobreposição {
        margin-top: 2vh; /* Maior margem no mobile para evitar sobreposição */
    }
}
