@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: transparent;
}

.elemento {
    background-color:transparent;
    padding: 1%;
}

.elemento1 {
    background-color:transparent;
    padding: 3%;
}

.elemento2 {    
    background-color:transparent;
    padding: 8%;
}

.carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin: auto;
    height: 70vh;
    z-index: 1; /* Garante que o carrossel fique abaixo do menu */
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.fade {
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from { opacity: 0.5; }
    to { opacity: 1; }
}

/* Ajuste para o texto LeafwithF e QUEM SOU */
.sobreposição {
    position: relative;
    text-align: center;
    margin-top: 50px; /* Garante que o texto não fique muito próximo do carrossel */
}

.text-before {
    font-size: 6vw;
    font-weight: 1000;
    color: #674F99;
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 1;
    margin-right: 10%;
}

.text-after {
    font-size: 4vw;
    font-weight: 300;
    color: #000000;
    position: relative;
    transform: translateY(130%);
    right: 29%;
    z-index: 1;
}

.container {
    display: flex;
    justify-content: center;  
    align-items: center;  
    flex-direction: column 2;
    height: 35vh;       
    color: #674F99; /*Cor das palavras no textoPequeno*/ 
}

.container-fine {
    display: fixed;
    justify-content: center;  
    align-items: center;  
    height: 35vh;       
    color: #674F99; /*Cor das palavras no textoPequeno*/ 
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2% 10%;
    background-color: #674F99;
    /*Mudar a cor do Header*/
}

.user-icon .fa-user-circle {
    font-size: 4rem;
    color: #f5f5f5;
    margin-right: 20%;
    vertical-align: middle;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 30%;
    margin-left: 10%;
}

.logo img {
    width:37%;
    height: auto;
    margin-right: 10%;
}

.logo-name {
    color: white;
    font-size: 3.5em;
    font-weight: 900;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 45px;
    padding: 0;
    margin: 0;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
}

.menu ul li a:hover {
    color: #B3A6CC;
}

/* Mostrar o menu toggle apenas em dispositivos móveis */
@media (max-width: 768px) {
    .menu ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 20px;
        text-align: center;
        gap: 20px;
    }

    .menu ul.active {
        display: flex;
        flex-direction: column;
    }

    .menu-toggle {
        display: flex; /* Mostrar o ícone de hambúrguer em telas menores */
    }
}

/* Estilizando o ícone de hambúrguer */
.menu-toggle span {
    background-color: #fff;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    border-radius: 3px;
}

.black-text{
    color: #000000;
    font-size: large;
}
.text-box {
    margin-bottom: 1%;
}

.centralize-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2% auto;
}

.littleTextLeft, .littleTextRight {
    text-align: justify;
    width: 70%; 
    margin-top: 10%; /* Espaçamento praticamente zero */
    margin-left: 0; /* Garantir alinhamento na centralização */
    margin-right: 0;
    line-height: 1.6; /* Melhorar a legibilidade do texto */
}
/* Ajustes de responsividade */
@media (max-width: 768px) {
    .littleTextLeft, .littleTextRight {
        width: 90%; /* Aumenta a largura para ocupar mais espaço na tela */
        margin-top: -100%; /* Espaçamento praticamente zero */
    }
    .container{
        margin: 0 auto;
        margin-top: -30%;
    }
    .container-fine{
        margin: 0 auto;
        margin-top: 20%;
    }
    .centralize-text-fine {
        display: flex;
        flex-direction: column; /* Inverte a ordem dos textos, colocando os títulos acima */
        align-items: center;
        text-align: center;
        margin: 2% auto;
    }

    .centralize-text-fine h1 {
    
        font-size: 2rem; /* Ajuste de tamanho para os títulos */
        margin-bottom: 10%; /* Espaçamento abaixo do título */
    }
    .title-box{
        margin-bottom: 110%;
    }

}

.title-box{
    display: flex;
    margin-top: 40%;
}
.text-box-fine {
    margin-bottom: 2%;
}

/* Para tela maior que 768px, mantém a ordem normal */
@media (min-width: 768px) {
    .centralize-text-fine {
        display: flex;
        flex-direction: column; /* Normalmente, os títulos e textos ficam na ordem tradicional */
        align-items: center;
        text-align: center;
        margin: 2% auto;
    }
}


.finePrints {
    position: relative;
    max-width: 80%;
    align-items: center;
    height: 80vh; /* Tamanho para telas grandes */
}

/* Estilo para o carrossel do Fine Arts */
.finePrints-slide {
    width: 150vh; 
    height: 80vh; 
    overflow: hidden; 
    border-radius: 2vh; 
}

.finePrints-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.footer-container {
    width: 100%;
    padding: 20px 0;
    background-color: #333;
    color: white;
    display: flex;
    height: auto;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.footer-section {
    flex: 1 1 250px;
    margin: 20px;
    min-width: 100px;
    box-sizing: border-box;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section p, .footer-section ul {
    margin: 0;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social a {
    margin: 0 10px;
}

.footer-social img {
    width: 30px;
    height: auto;
}
@media (max-width: 768px) {
    .finePrints {
        width: 90%; /* Ajusta a largura da imagem para um retângulo menor */
        height: auto;
        margin: 0 auto; /* Centraliza a imagem horizontalmente */
        display: flex; /* Garante que o contêiner seja flexível */
        justify-content: center; /* Centraliza o conteúdo dentro do contêiner */
        overflow: hidden;
        align-items: center; /* Alinha o conteúdo no centro verticalmente */
    }

    .finePrints-slide img {
        width: 100%; /* Mantém a largura 100% do contêiner */
        height: 50vh; /* Define uma altura fixa para criar o formato retangular */
        object-fit: cover; /* Garante que a imagem preencha o espaço sem distorção */
        border-radius: 2vh; /* Arredonda apenas a parte superior */
    }
}


@media (max-width: 768px) {
    .text-before {
        transform: translateY(-400%);
        font-size: 15vw; /* Ajuste maior para o mobile */
    }
    .text-after {
        font-size: 11vw; /* Ajuste maior para o mobile */
        transform: translateY(-400%) translateX(20%); /* Combinação de ambas as transformações */
    }
    

    /* Ajuste para garantir que o texto não sobreponha outros conteúdos */
    .sobreposição {
        margin-top: 20vh; /* Maior margem no mobile para evitar sobreposição */
    }
}
