@import url('../../styles/base/global.css');
@import url('../../styles/base/responsive.css');

/* GLOBAL */
.sobreposição {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

/* PROBLEMAS */
.problem-before {
    font-size: 6vw;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    top: 20%;
    left: 16%;
    margin-right: 10%;
    font-family: var(--font-primary);
}

.problem-after {
    font-size: 4vw;
    font-weight: 100;
    color: #74605d;
    position: relative;
    transform: translateY(140%) translateX(18%);
    right: 27%;
    font-family: var(--font-second);
}

/* FINEART'S */
.arts-before {
    font-size: 6vw;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    top: 20%;
    left: 16%;
    margin-right: 10%;
    font-family: var(--font-primary);
}

.arts-after {
    font-size: 4vw;
    font-weight: 100;
    color: #74605d;
    position: relative;
    transform: translateY(140%);
    right: 27%;
    font-family: var(--font-second);
}

/* EXPOSIÇÕES */
.exhibitions-before {
    font-size: 6vw;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    top: 20%;
    left: 16%;
    margin-right: 10%;
    font-family: var(--font-primary);
}

.exhibitions-after {
    font-size: 4vw;
    font-weight: 100;
    color: #74605d;
    position: relative;
    transform: translateY(140%);
    right: 23%;
    font-family: var(--font-second);
}

/* DÚVIDAS */
.doubts-before {
    font-size: 6vw;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    top: 20%;
    left: 16%;
    margin-right: 10%;
    font-family: var(--font-primary);
}

.doubts-after {
    font-size: 4vw;
    font-weight: 100;
    color: #74605d;
    position: relative;
    transform: translateY(140%) translateX(4%);
    right: 27%;
    font-family: var(--font-second);
}

/* BIO */
.bio-before {
    font-size: 6vw;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    top: 2%;
    left: 16%;
    margin-right: 10%;
    z-index: 2;
    font-family: var(--font-primary);
}

.bio-after {
    font-size: 4vw;
    font-weight: 100;
    color: #74605d;
    position: relative;
    transform: translateY(120%) translateX(3%);
    right: 25%;
    z-index: 2;
    font-family: var(--font-second);
}