@import url(../../../src/styles/base/global.css);
@import url(../../../src/styles/base/reset.css);
@import url(../../../src/styles/base/responsive.css);

/* GLOBAL */
.sobreposição {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

/* CONTATO */
.contact-before {
    font-size: 6vw;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    top: 20%;
    left: 16%;
    margin-right: 10%;
    font-family: var(--font-primary);
    letter-spacing: -10px;
}

.contact-after {
    font-size: 4vw;
    font-weight: 100;
    color: #74605d;
    position: relative;
    transform: translateY(140%) translateX(18%);
    right: 27%;
    font-family: var(--font-second);
}

/* FINEART'S */
.arts-before {
    font-size: 6vw;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    top: 20%;
    left: 16%;
    margin-right: 10%;
    font-family: var(--font-primary);
    letter-spacing: -10px;

}

.arts-after {
    font-size: 4vw;
    font-weight: 100;
    color: #74605d;
    position: relative;
    transform: translateY(140%);
    right: 27%;
    font-family: var(--font-second);
}

/* EXPOSIÇÕES */
.exhibitions-before {
    font-size: 6vw;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    top: 20%;
    left: 16%;
    margin-right: 10%;
    font-family: var(--font-primary);
    letter-spacing: -10px;

}

.exhibitions-after {
    font-size: 4vw;
    font-weight: 100;
    color: #74605d;
    position: relative;
    transform: translateY(140%);
    right: 23%;
    font-family: var(--font-second);
}

/* DÚVIDAS */
.faq-before {
    font-size: 6vw;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    top: 20%;
    left: 16%;
    margin-right: 10%;
    font-family: var(--font-primary);
    letter-spacing: -10px;

}

.faq-after {
    font-size: 4vw;
    font-weight: 100;
    color: #74605d;
    position: relative;
    transform: translateY(140%) translateX(-3%);
    right: 27%;
    font-family: var(--font-second);
}

/* BIO */
.bio-before {
    font-size: 6vw;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    top: 2%;
    left: 16%;
    margin-right: 10%;
    z-index: 2;
    font-family: var(--font-primary);
    letter-spacing: -10px;

}

.bio-after {
    font-size: 4vw;
    font-weight: 100;
    color: #74605d;
    position: relative;
    transform: translateY(120%) translateX(3%);
    right: 25%;
    z-index: 2;
    font-family: var(--font-second);
}

/* TERMOS */
.terms-before {
    font-size: 6vw;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    top: 2%;
    left: 16%;
    margin-right: 10%;
    z-index: 2;
    font-family: var(--font-primary);
    letter-spacing: -10px;

}

.terms-after {
    font-size: 4vw;
    font-weight: 100;
    color: #74605d;
    position: relative;
    transform: translateY(120%) translateX(3%);
    right: 25%;
    z-index: 2;
    font-family: var(--font-second);
}

/* COOKIES */
.cookies-before {
    font-size: 6vw;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    top: 2%;
    left: 16%;
    margin-right: 10%;
    z-index: 2;
    font-family: var(--font-primary);
    letter-spacing: -10px;

}

.cookies-after {
    font-size: 4vw;
    font-weight: 100;
    color: #74605d;
    position: relative;
    transform: translateY(120%) translateX(3%);
    right: 25%;
    z-index: 2;
    font-family: var(--font-second);
}

@media (max-width: 768px) {

    .contact-before,
    .arts-before,
    .exhibitions-before,
    .bio-before,
    .faq-before,
    .terms-before,
    .cookies-before {
        font-size: 1200vw;
        letter-spacing: 100px;
        top: 10%;
        left: 8%;
    }

    .contact-after,
    .terms-after,
    .cookies-after {
        font-size: 120vw;
        transform: translateY(110%) translateX(0%);
        right: 5%;
        text-align: left;
    }

    .arts-after{
        font-size: 120vw;
        transform: translateY(110%) translateX(0%);
        left: 5%;
        text-align: left;
    }

    .faq-after {
        font-size: 120vw;
        transform: translateY(110%) translateX(0%);
        left: 5%;
        text-align: left;
    }

    .bio-after{
        font-size: 120vw;
        transform: translateY(110%) translateX(0%);
        left: 5%;
        text-align: left;
    }

    .exhibitions-after{
        font-size: 120vw;
        transform: translateY(110%) translateX(0%);
        left: 5%;
        text-align: left;
    }

    .contact-after{
        font-size: 100vw;
        transform: translateY(150%) translateX(0%);
        left: 5%;
        text-align: left;
    }

}

/* TEXTNAME - 480px*/
@media (max-width: 480px) {

    .contact-before,
    .arts-before,
    .exhibitions-before,
    .bio-before,
    .faq-before,
    .terms-before,
    .cookies-before {
        font-size: 12vw;
        letter-spacing: -5px;
        top: 8%;
        left: 5%;
        text-align: left;
    }

    .contact-after,
    .arts-after,
    .exhibitions-after,
    .bio-after,
    .terms-after,
    .cookies-after {
        font-size: 10vw;
        transform: translateY(100%) translateX(0%);
        right: 5%;
        text-align: left;
    }

    .faq-after {
        font-size: 10vw;
        transform: translateY(100%) translateX(0%);
        left: 5%;
        text-align: left;
    }

    .sobreposição {
        margin-bottom: 20%;
    }
}