<header>
    <div class="header-container">
        <div class="dark-mode logo">
            <img src="../../public/assets/images/logo/logo.png" alt="logo">
        </div>
        <nav class="menu">
            <div class="menu-toggle" onclick="toggleMenu()">
                <i class="fas fa-bars"></i>
            </div>
            <ul class="menu-items" id="menu-items">
                <li><a href="../../../public/index.html">Home</a></li>
                <li><a href="../pages/fineart's.html">Artes</a>
                <li><a href="../pages/shop.html">Shop</a></li>
                <li><a href="../pages/bio.html">Bio</a></li>
                <li class="close" id="close-btn" onclick="closeMenu()">X</li>
            </ul>
        </nav>

    </div>
</header>