<header>
    <div class="header-container">
        <div class="header-logo">
            <a href="../../.././index.html">
                <img src="../../../public/assets/images/logo/logo-white.png" alt="logo">
            </a>
        </div>

        <nav class="menu">
            <div class="menu-toggle" onclick="toggleMenu()">
                <i class="fas fa-bars"></i>
            </div>
            <ul class="menu-items" id="menu-items">
                <li><a href="../../../src/pages/fineart's.html">Artes</a></li>
                <li><a href="../../../src/pages/shop.html">Shop</a></li>
                <li><a href="../../../src/pages/bio.html">Bio</a></li>
                <li class="close" id="close-btn" onclick="closeMenu()">X</li>
            </ul>
        </nav>

    </div>
</header>