@import url('../../styles/base/global.css');
@import url('../../styles/base/responsive.css');

.containerBio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column 2;
    height: 75vh;
    margin-top: 5%;
    color: var(--color-white);
}

.centralize-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 20vh;
}

.title-box,h3 {
    font-family: var(--font-primary);
    font-weight: 500;
}

h4{
    font-family: var(--font-primary);
    font-weight: 300;
    color: var(--color-brownLight);
    text-align: justify;
    font-size: 2.5vh;
    line-height: 1.6;
    margin-top: 5%;
}

.containerRight, h4 {
    width: 80%;
}

.containerLeft, h4{
    width: 60%;
}
