@import url('../../styles/base/global.css');
@import url('../../styles/base/responsive.css');

.text1 {
    margin-left: 35%;
    font-size: 2.5rem;
    font-weight: 500; /* Corrigido, pois 'font-size' estava sendo usado erroneamente */
    font-family: 'Poppins', serif;
}

.text2 {
    font-size: 1.5rem;
    font-weight: 300; /* Corrigido */
    font-family: 'Montserrat', serif;
    text-align: center; /* Melhor para responsividade */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100%;
    max-width: 100%;
}
