@import url('../base/global.css');
@import url('../base/reset.css');
@import url('../base/responsive.css');

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background img {
    right: 40% !important;
}

.background {
    position: absolute;
    width: 110%;
    height: 110%;
    filter: brightness(0.7);
    transition: filter 0.3s ease-in-out;
}

.background:hover {
    filter: brightness(0.9);
}

.content {
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
}

.content a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    font-family: var(--font-primary);
    letter-spacing: -4px;
    transition: transform 0.3s ease-in-out;
}

h1:hover {
    transform: scale(1.05);
}

p {
    font-size: 15px;
    letter-spacing: 12px;
    font-weight: 100;
    font-family: var(--font-primary);
}

.menu {
    position: absolute;
    top: 4%;
    right: 5%;
}

.menu a {
    font-weight: 200;
    font-family: var(--font-primary);
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: inline-block;
    cursor: none;
}

.menu a:hover {
    color: rgb(184, 180, 180);
    transform: scale(1.1);
}

.logo {
    position: absolute;
    bottom: 50%;
    left: 3%;
}

.logo img {
    width: 6%;
    transition: transform 0.3s ease-in-out;
}

.logo img:hover {
    transform: scale(1.1);
}

.logo a {
    cursor: none;
}

footer {
    position: absolute;
    bottom: 3%;
    left: 5%;
    color: white;
    font-size: 12px;
}

footer a {
    font-weight: 300;
    font-family: var(--font-primary);
    color: white;
    text-decoration: none;
    cursor: none;
    margin-right: 15px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: inline-block;
}

footer a:hover {
    color: lightgray;
    transform: scale(1.2);
}