@import url('../../styles/base/global.css');
@import url('../../styles/base/responsive.css');

.contato {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
}

.container-contato {
    margin-top: 10%;
    width: 100%;
    height: 100vh;
    max-width: 1400px;
    padding: 2rem 0rem 3rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.titulo-contato {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.titulo-contato h1 {
    color: var(--color-black);
    width: 50%;
    font-size: 8vw;
    font-weight: lighter;
    font-family: var(--font-primary);
}

.descricao-contato {
    width: 50%;
    text-align: right;
}

.descricao-contato a {
    text-decoration: none;
    color: var(--color-black);
    font-size: 2rem;
    letter-spacing: 1.5px;
    line-height: 1.4;
    font-weight: bold;
}

.formulario-contato {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0rem 2rem 0rem;
}

.formulario-contato h2 {
    font-size: 2rem;
}

.formulario-contato p {
    font-size: 1.5rem;
    color: var(--color-gray);
    font-weight: 500;
    line-height: 1.4;
}

.form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.form input {
    font-family: var(--font-second);
    width: 100%;
    height: 30px;
    border-radius: 30px;
    outline: none;
    border: 2px solid rgba(128, 128, 128, 0.5);
    padding: 1.5rem 1rem;
    font-size: 1.2rem;
}

.form textarea {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    outline: none;
    border: 2px solid rgba(128, 128, 128, 0.5);
    font-family: var(--font-second);
    font-size: 1.2rem;
    padding: 1.5rem 1rem;
}

.form .input-box {
    position: relative;
    width: 100%;
}

.form .input-box input,
.form .input-box textarea {
    width: 100%;
    padding: 1.5rem 1rem 1.5rem 3rem;
    border-radius: 30px;
    outline: none;
    border: 2px solid rgba(128, 128, 128, 0.5);
    font-size: 1.2rem;
    font-family: var(--font-second);
}

.form .input-box i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: var(--color-gray);
}

.logo-contato {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.box {
    width: 140px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
}

.box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}

.box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}

.box:hover:before {
    border-color: var(--gradient4);
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
    border-color: var(--gradient4);
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
}

button {
    color: var(--gradient4);
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
}