@import url(../../../src/styles/base/global.css);
@import url(../../../src/styles/base/reset.css);
@import url(../../../src/styles/base/responsive.css);
@import url(../../../src/styles/pages/loader.css);


.text1 {
    margin-left: 35%;
    font-size: 2.5rem;
    font-weight: 500; 
    font-family: 'Poppins', serif;
    color: white;
    user-select: none;
}

.text2 {
    font-size: 1.5rem;
    font-weight: 300; 
    color: white;
    font-family: 'Montserrat', serif;
    text-align: center; 
    user-select: none;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100%;
    max-width: 100%;
    margin-bottom: 10%;
    margin-top: 12.7rem;
}

@media (max-width: 768px) {
    .text1 {
        margin-left: 20%;
        font-size: 2rem;
        text-align: center;
    }

    .text2 {
        font-size: 1.2rem;
        text-align: center;
        padding: 0 10%;
    }

    .container {
        flex-direction: column;
        padding: 2rem 1rem;
    }
}

/* TEXT EXPOSIÇOES - 480px */
@media (max-width: 480px) {
    .text1 {
        margin-left: 0;
        font-size: 1.5rem;
        text-align: center;
    }

    .text2 {
        font-size: 1rem;
        text-align: center;
        padding: 0 5%;
    }

    .container {
        flex-direction: column;
        padding: 1.5rem 1rem;
    }
}

