@import url('../../styles/base/global.css');

/* 
.user-icon .fa-user-circle {
    font-size: 4rem;
    color:  var(--color-white);
    margin-right: 35%;
    vertical-align: middle;
} */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2% 10%;
    margin-left: -3%;
    background-color: var(--font-primary);
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 30%;
    margin-left: 10%;
}

.logo img {
    width: 6em;
    height: auto;
    margin-right: 1%;
    transition: transform 0.3s ease-in-out;
}

.logo img:hover {
    transform: scale(1.1);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
    font-weight: 100;
    font-size: smaller;
    font-family: var(--font-second);
}

.menu-toggle {
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.menu-toggle i {
    font-size: 30px;
    color: var(--color-white);
    transition: transform 0.3s ease;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 45px;
    padding: 0;
    margin: 0;
}

.menu ul li a {
    color:  var(--color-white);
    text-decoration: none;
    font-weight: 100;
    font-size: 20px;
    white-space: nowrap;
}

.menu ul li a:hover {
    color:  var(--color-white);
}

.menu-toggle span {
    background-color:  var(--color-white);
    width: 30px;
    height: 3px;
    margin: 5px auto;
    border-radius: 3px;
}

.filters button {
    margin: 10px;
    padding: 10px;
    background-color: #333;
    border: none;
    cursor: pointer;
}

.filters button:hover {
    background-color: #555;
}

.header-nav-folder-content {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
}

.header-nav-folder-item {
    padding: 10px 0;
    transition: background-color 0.3s ease-in-out;
}

.header-nav-folder-item:last-child {
    border-bottom: none;
}

.header-nav-folder-item:hover {
    background-color: #eaeaea;
}

.header-nav-folder-item a {
    color: #D9D48F;
    text-decoration: none;
    font-size: 16px;
    font-weight: 100;
    display: block;
    transition: color 0.3s ease;
}

.header-nav-folder-title {
    font-weight: 100;
    font-size: 18px;
    font-family:  var(--font-second);
    color: #D9D48F;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease-in-out;
}

.header-nav-folder-title:hover {
    background-color: #e1e1e1;
}

.menu-toggle i {
    font-size: 24px;
    color:  var(--color-white);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.menu-toggle i:hover {
    transform: scale(1.1);
}

#close-btn {
    display: none;
}
