@import url(../../src/styles/base/global.css);
@import url(../../src/styles/base/reset.css);
@import url(../../src/styles/base/responsive.css);

.text1 {
    margin-left: 35%;
    font-size: 2.5rem;
    font-weight: 500; 
    font-family: 'Poppins', serif;
    color: var(--color-white);
}

.text2 {
    font-size: 1.5rem;
    font-weight: 300; 
    font-family: 'Montserrat', serif;
    text-align: center;
    color: var(--color-brownLight);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100%;
    max-width: 100%;
}

@media (max-width: 768px) {
    .text1 {
        font-size: 2rem;
        margin-left: 40%;
    }

    .text2 {
        font-size: 1.3rem;
    }

    .container {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .text1 {
        font-size: 1.8rem;
        margin-left: 1%;
        text-align: center;
    }

    .text2 {
        font-size: 1rem;
    }

    .container {
        flex-direction: column; /* Empilhar na vertical */
        text-align: center;
    }
}
