html {
    scroll-behavior: smooth;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2% 10%;
    margin-left: -3%;
    background-color: #0D0C0B;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 30%;
    margin-left: 10%;
}

.logo img {
    width: 6em;
    height: auto;
    margin-right: 1%;
    transition: transform 0.3s ease-in-out;
}

.logo img:hover {
    transform: scale(1.1);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
    font-weight: 100;
    font-size: smaller;
    font-family: 'Montserrat', serif;
}

.menu-toggle {
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.menu-toggle i {
    font-size: 30px;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 45px;
    padding: 0;
    margin: 0;
}

.menu ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 100;
    font-size: 20px;
    white-space: nowrap;
}

.menu ul li a:hover {
    color: #ffffff;
}

.menu-toggle span {
    background-color: #ffffff;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    border-radius: 3px;
}

.filters button {
    margin: 10px;
    padding: 10px;
    background-color: #333;
    border: none;
    cursor: pointer;
}

.filters button:hover {
    background-color: #555;
}

.header-nav-folder-content {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
}

.header-nav-folder-item {
    padding: 10px 0;
    transition: background-color 0.3s ease-in-out;
}

.header-nav-folder-item:last-child {
    border-bottom: none;
}

.header-nav-folder-item:hover {
    background-color: #eaeaea;
}

.header-nav-folder-item a {
    color: #D9D48F;
    text-decoration: none;
    font-size: 16px;
    font-weight: 100;
    display: block;
    transition: color 0.3s ease;
}

.header-nav-folder-title {
    font-weight: 100;
    font-size: 18px;
    font-family: 'Montserrat', serif;
    color: #D9D48F;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease-in-out;
}

.header-nav-folder-title:hover {
    background-color: #e1e1e1;
}

.menu-toggle i {
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.menu-toggle i:hover {
    transform: scale(1.1);
}

#close-btn {
    display: none;
}


.submenu {
    display: none;
    position: absolute;
    background-color: #1f1c1a;
    border-radius: 10px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    height: auto;
    margin: 10px 0;
    width: 100%;
    transform: translateX(0%) translateY(5%);
    z-index: 2;
    max-height: 1000px;
    overflow-y: auto;
}

.submenu a {
    display: block;
    padding: 10px 15px;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.submenu a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.submenu::-webkit-scrollbar {
    width: 8px;
}

.submenu::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 4px;
}

.submenu::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

.submenu-container.active .submenu {
    display: block;
    z-index: 2;
}

#catalogo-menu {
    background-color: transparent;
    border: none;
    margin-top: -13%;
    font-weight: 100;
    font-family: 'Montserrat', serif;
    font-size: 20px;
    color: #cecdcd;
    padding: 12px 20px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    z-index: 2;
    transition: transform 0.2s ease-in-out;
}
