:root {
  --primary-lighter: #d0d0e7;
  --primary-gradient: linear-gradient(to right, #74605d, #0D0C0B );
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
}

a, button {
  all: unset;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

body {
  font-family: 'Poppins', serif;
  min-height: 100vh;
  background-color: #0D0C0B;
  display: flex;
  justify-content: center;
  overflow-x: hidden;

}

/* Container principal */
.container {
  color: #ffffff;
  max-width: 1070px;
  width: 100%;
  display: flex;
  margin-inline: 1rem;
}

/* Seção de imagem */
.image-section {
  width: 50%;
  position: relative;
}

.image-wrapper {
  width: 100%;
  height: 100%;
}

.image-wrapper img {
  object-fit: cover;
}

/* Botões */
.login-btn, .google-signin {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  font-weight: 500;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
}

.login-btn {
  color: white;
  background: var(--primary-gradient);
}

.login-btn:hover {
  opacity: 0.9;
}

.google-signin {
  border: 2px solid var(--primary-lighter);
}

.google-signin object {
  width: 1.5rem;
  height: 1.5rem;
}

/* Divisor "ou" */
.or-divider {
  font-weight: 600;
  color: #fff;
  margin-block: 1.5rem;
  text-align: center;
  position: relative;
}

.or-divider::before, .or-divider::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  width: 45%;
  background-color: #fff;
}

.or-divider::before {
  left: 0;
}

.or-divider::after {
  right: 0;
}

/* Formulário */
.form-section {
  width: 50%;
  background-color: #0D0C0B ;
  padding: 2.5rem 1.2rem;
  display: flex;
  align-items: center;
}
.logo-container {
  width: 30%;
  height: 70%;
  margin-left: 30%;
  margin-bottom: 5%;
}
.form-wrapper {
  width: 75%;
  margin: 0 auto;
}
h2 {
  font-family: 'Montserrat', serif;
  font-size: large;
  font-weight: 700;

}
.input-container {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  position: relative; /* Permite o posicionamento absoluto do ícone dentro do campo */
  margin-bottom: 1rem;
}

.form-group label {
  font-size: 0.9375rem;
  font-weight: 600;
  color: #ffffff;
  display: block; /* Faz o label ocupar a linha inteira, ficando acima do input */
  margin-bottom: 0.5rem; /* Espaço entre o label e o input */
}

.form-group input {
  width: 100%;
  font-size: 0.875rem;
  font-weight: 500;
  color: #0D0C0B;
  padding: 0.5rem;
  border: 2px solid #ffffff;
  border-radius: 0.3rem;
}

#eye-icon {
  color: #0D0C0B;
  position: absolute;
  left: 95%; /* Coloca o ícone no lado direito do campo */
  top: 75%;
  transform: translateY(-50%); /* Centraliza o ícone verticalmente */
  cursor: pointer;
}

.form-group input:focus {
  border: 2px solid #74605d;
}

/* Lembre-se e Esqueceu Senha */
.remember-forgot {
  font-family: 'Montserrat', serif;
  margin-top: 0.8rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.remember-me {
  display: flex;
  align-items: center;
}

.remember-me input {
  margin-right: 0.5rem;
  border: 1px solid white;
  border-radius: 2px;
}

/* Estilo base para o checkbox */
.remember-me [type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30px;
  height: 25px;
  margin: 0;
  border-radius: 50%;
  background-color: #0D0C0B;
  /* Cor de fundo quando não marcado */
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  /* Transição suave */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  /* Sombra leve para destacar */
}

/* Quando o checkbox está marcado */
.remember-me [type="checkbox"]:checked {
  background-color: #ffffff;
  /* Cor de fundo quando marcado (verde vibrante) */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  /* Sombra mais forte e verde */
}

/* Estilo do "checkmark" com animação */
.remember-me [type="checkbox"]:checked::after {
  content: '\2713';
  /* Símbolo de "check" */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Centraliza o símbolo */
  font-size: 18px;
  font-weight: 900;
  color: #0D0C0B;
  /* Cor do símbolo */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  /* Transição suave para o símbolo */
}

.remember-me [type="checkbox"]:checked::after {
  opacity: 1;
}

.remember-me [type="checkbox"]:hover {
  background-color: #ffffff;
  /* Cor de fundo mais clara quando hover */
  border-radius: 50%;
  /* Garante que o checkbox tenha bordas arredondadas */
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  /* Efeito de luz mais forte */
}

.remember-me label {
  margin-left: 5%;

  color: #ffffff;
  -webkit-user-select: none; /* Para Safari */
  user-select: none; /* Para os demais navegadores */
}

.remember-forgot a {
  color: #ffffff;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

/* Responsividade */
@media screen and (max-width: 60rem) {
  .container {
    width: 100%;
    margin: 0;
  }

  .content-container {
    width: 100%;
  }
}

@media screen and (max-width: 50rem) {
  .container {
    max-width: 100%;
    flex-direction: column;
    margin-inline: 0;
  }
  img{
    height: 100%;
  }
  .form-section{
    width: auto;
    height: 95%;
  }
  .image-section, .form-section {
    width: 100%;
  }

  .image-section {
    height: 25vh;
  }

  .content-container {
    inset: 0;
    transform: translate(0, 0);
    padding: 1rem 1.6rem;
  }
}

@media screen and (max-width: 36rem) {
  .container {
    max-width: 100%;
  }
  img{
    width: 100%;
  }
  .logo-container{
    margin-left: 37%;
    margin-bottom: 10%;
  }
  .form-wrapper {
    width: 70%;
    margin-left: 9%;
  }
  .form-section{
    width: auto;
    height: 95%;
  }
}
