
.elemento {
    background-color: transparent;
    padding: 1%;
}

.elemento1 {
    background-color: transparent;
    padding: 3%;
}

.elemento2 {
    background-color: transparent;
    padding: 5%;
}

.elemento3 {
    background-color: transparent;
    padding: 8%;
}

.elemento4 {
    background-color: transparent;
    padding: 13%;
}
