.text-before {
    font-size: 6vw;
    font-weight: 1000;
    color: #674F99;
    position: absolute;
    top: 2%;
    left: 16%;
    margin-right: 10%;
    z-index: 2;
}

.text-after {
    font-size: 4vw;
    font-weight: 300;
    color: #000000;
    position: relative;
    transform: translateY(110%);
    right: 27%;
    z-index: 2;
}

.sobreposição {
    position: relative;
    text-align: center;
    margin-top: 20px;
    /* Ajuste para evitar sobreposição */
}

@media (max-width: 480px) {
 
    .text-before {
        transform: translateY(20%) translateX(-10%);
        font-size: 16vw; /* Ajuste maior para telas menores */
    }

    .text-after {
        font-size: 10vw;
        font-weight: 300;
        transform: translateY(110%) translateX(4%);
        z-index: 2;
    }

    .sobreposição {
        margin-top: 2vh;
        transform: translateY(125%) !important;
    }

}

@media (max-width: 768px) {

    .text-before {
        transform: translateY(-20%) translateX(-10%);
        font-size: 18vw;
        /* Ajuste maior para o mobile */
    }

    .text-after {
        font-size: 12vw;
        /* Ajuste maior para o mobile */
        font-weight: 300;
        transform: translateY(110%) translateX(4%);
        /* Combinação de ambas as transformações */
    }

    .sobreposição {
        margin-top: 2vh;
        transform: translateY(-350%);
        /* Maior margem no mobile para evitar sobreposição */
    }

}