.text-before {
    font-size: 6vw;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    top: 20%;
    left: 16%;
    margin-right: 10%;
    font-family: 'Poppins', serif;
}

.text-after {
    font-size: 4vw;
    font-weight: 100;
    color: #74605d;
    position: relative;
    transform: translateY(140%) translateX(18%);
    right: 27%;
    font-family: 'Montserrat', serif;
}

.sobreposição {
    position: relative;
    text-align: center;
    margin-top: 20px;
    /* Ajuste para evitar sobreposição */
}

@media (max-width: 480px) {
 
    .text-before {
        transform: translateY(-20%) translateX(14%);
        font-size: 11vw; /* Ajuste maior para telas menores */
    }

    .text-after {
        font-size: 50px;
        font-weight: 100;
        margin-left: 30%;   
        transform: translateY(110%) translateX(-190%);
    }

    .sobreposição {
        margin-top: 2vh;
    }

}

@media (max-width: 768px) {

    .text-before {
        transform: translateY(-20%) translateX(-10%);
        font-size: 18vw;
        /* Ajuste maior para o mobile */
    }

    .text-after {
        font-size: 12vw;
        /* Ajuste maior para o mobile */
        font-weight: 300;
        transform: translateY(110%) translateX(19%);
        /* Combinação de ambas as transformações */
    }

    .sobreposição {
        margin-top: 2vh;
        /* Maior margem no mobile para evitar sobreposição */
    }

}