<footer class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <h1>LeafwithF</h1>
            <p>
                Imagens e Textos Originais<br>
                © 2025 LeafwithF<br>
                <a href="duvidas.html">Dúvidas </a> | <a href="../pages/problema.html">Problemas</a>
            </p>
            <div class="social-icons">
                <a href="https://www.instagram.com/leafwithf"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-right">
            <ul>
                <li><a href="../../../public/index.html">Home</a></li>
                <li><a href="../pages/shop.html">Shop</a></li>
                <li><a href="../pages/fineart's.html">Fine Art's</a></li>
            </ul>
            <ul>
                <li><a href="../pages/bio.html">Bio</a></li>
                <li><a href="../pages/exposiçoes.html">Exposições</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-logo">
        <img src="../../public/assets/images/logo/logo.png" alt="logo">
    </div>
</footer>