<footer class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <h1>LeafwithF</h1>
            <p>
                Imagens e Textos Originais<br>
                © 2025 LeafwithF<br>
                <a href="../pages/faq.html">FAQ </a> | <a href="../pages/contact.html">Contato</a>

            </p>
            <div class="social-icons">
                <a href="https://www.instagram.com/leafwithf"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-right">
            <ul>
                <li><a href="../../../index.html">Home</a></li>
                <li><a href="../pages/shop.html">Shop</a></li>
            </ul>
            <ul>
                <li><a href="../pages/fineart's.html">Artes</a></li>
                <li><a href="../pages/exposiçoes.html">Exposições</a></li>
                <li><a href="../pages/bio.html">Biografia</a></li>                 
            </ul>
        </div>
    </div>
    <div class="footer-logo">
        <img src="../../../public/assets/images/logo/logo-white.png" alt="logo">
    </div>
</footer>