@import url(../../../src/styles/base/global.css);
@import url(../../../src/styles/base/reset.css);
@import url(../../../src/styles/base/responsive.css);

.footer {
    background-color: var(--background-footer) ;
    color: var(--color-white);
    padding: 1% 2% 4% 2%;
    position: relative;
    z-index: 1;
    min-height: 100px;
    color: var(--color-white);
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left p,.footer-left a, .social-icons a, .footer-right, .footer-right ul, .footer-right li, .footer-right a {
    font-family: var(--font-second);
    color: var(--color-white);
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-left h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-family: var(--font-primary);
}

.footer-left p {
    line-height: 1.5;
}

.footer-left a {
    margin: 0 5px;
    position: relative; 
    text-decoration: none;
    transition: color 0.3s ease-in-out; 
}

.footer-left a:hover {
    color: var(--color-white); 
}

.footer-left a::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    width: 100%;
    height: 2px;
    background-color: var(--color-white);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.footer-left a:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.footer-left h1 {
    font-size: 50px;
    font-weight: 700;
    font-family: var(--font-primary);
    letter-spacing: -4px;
}
.social-icons i {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 2rem;
    transition: transform 0.3s ease-in-out;
    color: var(--color-white);
}

.social-icons i:hover {
    transform: scale(1.2);
}

.social-icons a {
    text-decoration: none;
    position: static !important;
}

.social-icons a::after {
    display: none !important;
    content: none !important;
}

.footer-right {
    margin-top: 2%;
    display: flex;
    gap: 40px;
}

.footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-right li {
    margin-bottom: 10px;
}

.footer-right a {
    position: relative; 
    text-decoration: none;
    transition: color 0.3s ease-in-out; 
}

.footer-right a:hover {
    color: var(--color-white); 
}

.footer-right a::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    width: 100%;
    height: 2px;
    background-color: var(--color-white);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.footer-right a:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.footer-logo {
    width: 10%;
    height: 10%;
    margin-left: 43%;
}

.footer-logo img {
    margin-top: -85%;
    max-width: 200%;
    height: auto;
    width: 100%;
    cursor: none;

}

/* FOOTER - 768px */
@media (max-width: 768px) {

    .footer-logo img {
        margin-top: 60%;
        margin-left: -24%;
        width: 200%;
        height: 100%;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-left {
        margin-bottom: 20px;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .links-column {
        align-items: center;
    }
    
    .logo img {
        height: 3em;
    }

    .logo-name {
        font-size: 3em;
    }

}

/* FOOTER - 480px */
@media (max-width: 480px) {
    
    .footer-logo img {
        transform: translateX(-10%) translateY(-20%);
        width: 200%;
        height: auto;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        overflow-x: none !important;
    }

    .footer-left {
        margin-bottom: 15px;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .links-column {
        align-items: center;
    }
}
