@import url('../../styles/base/global.css');


.footer {
    background-color: var(--background-footer) ;
    color: #fff;
    padding: 1% 2% 4% 2%;
    position: relative;
    z-index: 1;
    min-height: 100px;
    color: #fff;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-family: var(--font-primary);
}
.footer-left p,.footer-left a, .social-icons a, .footer-right, .footer-right ul, .footer-right li, .footer-right a {
    font-family: var(--font-second);
    color: var(--color-white);
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-left p {
    line-height: 1.5;
}

.footer-left a {
    margin: 0 5px;
}

.footer-left a:hover {
    text-decoration: underline;
}

.social-icons a {
    margin-right: 10px;
    font-size: 2rem;
}

.footer-right {
    margin-top: 2%;
    display: flex;
    gap: 40px;
}

.footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-right li {
    margin-bottom: 10px;
}

.footer-right a:hover {
    text-decoration: underline;
}

.footer-logo {
    width: 10%;
    height: 10%;
    margin-left: 43%;
}

.footer-logo img {
    margin-top: -85%;
    max-width: 200%;
    height: auto;
    width: 100%;
}
