:root {
  --font-base: 'Inter', sans-serif;
  --font-primary: 'Poppins', serif;
  --font-second: 'Montserrat', serif;

  --color-black: #121212;
  --color-gray: #3d3d3d;
  --color-white: #ffffff;
  --color-brownLight: #74605d;

  --background: #ffffff;
  --background-footer: #f5f5f5;
}

[data-theme="dark"] {
  --background: #0D0C0B;
  --background-footer: #261C1A;
  --color-white: #ffffff;
  --color-black: #121212;
  --color-gray: #3d3d3d;
}

html, body {
  background-color: var(--background);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  cursor: none;
}

body {
  margin: 0;
  height: auto;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

p, h1, h2, h3, h4, img, a, .box {
  user-select: none;
}

.sobreposição{
  user-select: none;
  position: relative;
  text-align: center;
  margin-top: 20px;
}
