* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  html, body {
    height: 100%;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
    border: none;
    outline: none;
    background: none;
  }

  p, h1, h2, h3, h4, img {
    user-select: none;
  }